<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Settings</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Server</string>
			<key>Key</key>
			<string>server</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string>https://66.29.195.53/BOLayer.svc</string>
				<string>https://66.29.195.44/BOLayer.svc</string>
				<string>https://66.29.195.99/BOLayer.svc</string>
				<string>https://66.29.195.40/BOLayer.svc</string>
				<string>https://66.29.195.59/BOLayer.svc</string>
			</array>
			<key>Titles</key>
			<array>
				<string>P_66.29.195.53</string>
				<string>C_66.29.195.44</string>
				<string>T_66.29.195.99</string>
				<string>E_66.29.195.40</string>
				<string>M_66.29.195.59</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Service</string>
			<key>Key</key>
			<string>service</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
